body { 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul { 
    color: #1F2937;
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

li {
    color: #f9faf8;
}

button {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-color: #3882f6;
    width: 100px;
    font-size: 15px;
    
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #f9faf8;
}

a:hover { 
    text-decoration: underline;
}

.header { 
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    padding: 30px 200px 100px 200px;
}

.intro { 
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px 100px 200px;
    min-width: 0px;
    gap: 30px;
}

.random-info { 
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px 200px;
    min-width: 0px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 300px 50px 300px;
    min-width: 0px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.call-to-action { 

}

.copyright { 
    background-color: #1F2937;
    font-size: 18px;
}

.generic-description { 
    color: #f9faf8;
    flex-wrap: wrap;
    font-size: 18px;
}

.sign-up { 
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-basis: 55%;
    flex-shrink: 1;
    gap: 10px;
    align-items: flex-start;
}

.card { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

.blank-box { 
    outline-style: solid;
    border-radius: 20px;
    outline-color: #3882f6;
    border-color: #3882f6;
    border-style: solid;
    width: 150px;
    height: 150px;
    align-self: center;
}

.all-cards { 
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    gap: 30px;

}

.subtext { 
    display: flex;
    color: black;
    
}

.call-button { 
    color: #f9faf8;
}

#intro-header { 
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
}

#random-info-header { 
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#call-header { 
    font-weight: bold;
}

#placeholder {
    background-color: #979da3;
    display: flex;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
}

#quote-body { 
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#author-quote { 
    font-weight: bold;
    font-size: 18px;
    margin-left: auto;
}

#call-to-action-blue {
    background-color: #3882f6;
    color: #f9faf8;
}

#header-logo {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

#placeholder-description { 
    text-align: center;
}

#intro-description {
    display: flex;
    max-width:80%;

}