body { 
}

ul { 
    color: #f9faf8;
    list-style-type: none;
}

li {

}

button {
    background-color: #3882f6;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #f9faf8;
}

a:hover { 
    text-decoration: underline;
}

.header { 
    background-color: #1F2937;
    display: flex;
}

.intro { 
    background-color: #1F2937;
}

.random-info { 

}

.quote { 
    background-color: #e5e7eb;
}

.call-to-action { 

}

.copyright { 
    background-color: #1F2937;
}

.generic-description { 
    color: #f9faf8;
}

.sign-up { 
    color: #f9faf8;
}

.card { 

}

.blank-box { 
    outline-color: #3882f6;
}

.subtext { 

}

.call-button { 
    color: #f9faf8;
}

#intro-header { 
    display: flex;
    color: #f9faf8;
}

#random-info-header { 
    color: black;
}

#call-header { 

}

#placeholder {
    background-color: #e5e7eb;
}

#quote-body { 

}

#author-quote { 

}

#call-to-action-blue {
    background-color: #3882f6;
    color: #f9faf8;
}

#header-logo {
    color: #f9faf8;
}